
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('https://wallpapercave.com/wp/wp10283161.jpg');
  background-size: cover;
  background-position: center;
  color: #3b3a3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}


header {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header h1 {
  font-size: 2.5em;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  color: #4CAF50;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

form input,
form button {
  padding: 10px;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}


.resultados {
  margin-top: 30px;
  background: #f1f8e9;
  padding: 20
;}